<!DOCTYPE html>
<!--
    So Simple Jekyll Theme 3.2.0
    Copyright 2013-2019 Michael Rose - mademistakes.com | @mmistakes
    Free for personal and commercial use under the MIT license
    https://github.com/mmistakes/so-simple-theme/blob/master/LICENSE
-->
<html lang="en-US" class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  

  
    
    <!-- Begin Jekyll SEO tag v2.8.0 -->
<title>Manpages | METACODES.PRO</title>
<meta name="generator" content="Jekyll v4.3.4" />
<meta property="og:title" content="Manpages" />
<meta property="og:locale" content="de_DE" />
<meta name="description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<meta property="og:description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<link rel="canonical" href="https://www.metacodes.pro/manpages/" />
<meta property="og:url" content="https://www.metacodes.pro/manpages/" />
<meta property="og:site_name" content="METACODES.PRO" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Manpages" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebPage","description":"Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?","headline":"Manpages","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://www.metacodes.pro/images/site-logo.png"}},"url":"https://www.metacodes.pro/manpages/"}</script>
<!-- End Jekyll SEO tag -->


  

  <script>
    /* Cut the mustard */
    if ( 'querySelector' in document && 'addEventListener' in window ) {
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
    }
  </script>

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/skins/default.css">
  <link rel="alternate" type="application/atom+xml" title="METACODES.PRO" href="/feed.xml">
<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

</head>


  <body class="layout--category  manpages">
    <nav class="skip-links">
  <h2 class="screen-reader-text">Skip links</h2>
  <ul>
    <li><a href="#primary-nav" class="screen-reader-shortcut">Skip to primary navigation</a></li>
    <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
  </ul>
</nav>

    
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">Menu</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul><li><a href="/blog/">Blog</a></li><li><a href="/news/">News</a></li><li><a href="/refcodes/">REFCODES</a></li><li><a href="/funcodes/">FUNCODES</a></li><li><a href="/manpages/">Manpages</a></li><li><a href="/archive/">Archive</a></li><li><a href="/tags/">Tags</a></li><li><a href="/downloads/">Downloads</a></li><li><a href="/search/">Search</a></li><li><a href="/about/">About</a></li></ul>
    </nav>
  </div><!-- /.navigation-wrapper -->


    <header class="masthead">

	

	

	

	<div class="wrap">
			<a href="/" class="site-logo" rel="home" title="METACODES.PRO">
				<img src="/images/manpages-logo.png" class="site-logo-img animated fadeInDown" alt="METACODES.PRO">
			</a>
		
		
			
				<h1 class="site-title animated fadeIn"><a href="/">Operating instructions</a></h1>
				<p class="site-description animated fadeIn" itemprop="description">User manuals (man pages) for command line tools -</p>
			
		
	</div>
</header><!-- /.masthead -->


    <main id="main" class="main-content" aria-label="Content">
  <article>
    

    <div class="page-wrapper">
      <header class="page-header">
        
        
          <h1 id="page-title" class="page-title">Manpages</h1>
        
      </header>
      <div class="page-content">
        


<section id="manpages" class="taxonomy-section">
	<h2 class="taxonomy-title"></h2>
	<div class="entries-list">
		<!-- Sort by modified date -->
		
		
		
		
		
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/crackzip_manpage/" rel="bookmark">CRACKZIP manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Recovery tool for cracking password protected ZIP (*.zip) files …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2024-03-14T21:55:00+01:00">
			Updated on March 14, 2024
		</time>
	
	<time class="entry-date dt-published" datetime="2021-09-10T19:38:00+02:00">
		September 10, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/flatml_manpage/" rel="bookmark">FLATML manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>A shell filter flattening markup properties of XML, JSON, YAML, INI or PROPERTIES format to key/value lines …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2024-03-12T21:33:00+01:00">
			Updated on March 12, 2024
		</time>
	
	<time class="entry-date dt-published" datetime="2022-10-02T13:38:00+02:00">
		October 02, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/passgen_manpage/" rel="bookmark">PASSGEN manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>A tool for generating password lists written into a file or printed to &lt;STDOUT&gt; by providing rule expressions …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-07-10T14:22:00+02:00">
		July 10, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/playload_manpage/" rel="bookmark">PLAYLOAD manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Peer-to-Peer command line transport system for exchanging messages between peers over serial TTY (COM) ports …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-12-12T11:21:00+01:00">
		December 12, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/ascart_manpage/" rel="bookmark">ASCART manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>A command line tool for creating ASCII art (“[ASC]II[ART]”) from plain text or image files …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-28T19:25:00+02:00">
		August 28, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/bin2txt_manpage/" rel="bookmark">BIN2TXT manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Encoding and decoding tool for BASE64 and related encodings/decodings from/to ASCII to/from binary …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-28T11:37:00+02:00">
		August 28, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/teletype_manpage/" rel="bookmark">TELETYPE manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Teleprinter command line tool for sending data to and receiving data from TTY (serial) ports simultaneously.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-07T08:56:00+02:00">
		August 07, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/httpecho_manpage/" rel="bookmark">HTTPECHO manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Small HTTP-Echo server echoing incoming HTTP-Requests back to the client and to the console …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-07T07:41:00+02:00">
		August 07, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/autochat_manpage/" rel="bookmark">AUTOCHAT manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>ELIZA chatbot (by Joseph Weizenbaum) talking to you via RESTful services and an MS-Teams endpoint or on the console …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-05T11:37:00+02:00">
		August 05, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/watchdog_manpage/" rel="bookmark">WATCHDOG manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Cellular automaton simulating a watchdog in a house using JavaFX …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-01T17:53:00+02:00">
		August 01, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/picdat_manpage/" rel="bookmark">PICDAT manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Tool for converting (raw) data to a pixmap image and extracting raw (pixmap) data from an image …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-31T09:33:00+02:00">
		July 31, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/chaos_manpage/" rel="bookmark">CHAOS manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Encryption and decryption tool of file or stream data using Chaos-based encryption …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-31T08:17:00+02:00">
		July 31, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/tty2mqtt_manpage/" rel="bookmark">TTY2MQTT manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Tool bridging between a serial port and an MQTT message broker for publishing or subscribing messages …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-31T10:42:00+02:00">
		July 31, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/pixgrid_manpage/" rel="bookmark">PIXGRID manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Tool for displaying a light bulb matrix rendering configurable scrolling and fading pixmaps (PNG, GIF or JPG) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-31T10:42:00+02:00">
		July 31, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/waves_manpage/" rel="bookmark">WAVES manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Tool to generate or pipe and filter (sound) waves for audio playback and export.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-31T10:37:00+02:00">
		July 31, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/dadum_manpage/" rel="bookmark">DADUM manpage
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Tool for dumping mass data by pattern to files or streams …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-31T10:03:00+02:00">
		July 31, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/manpages/manpages_online/" rel="bookmark">Manpages online!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The manpages for the FUNCODES.CLUB commands are online now!</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-30T00:01:00+02:00">
		July 30, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
	</div>
	<a href="#page-title" class="back-to-top">Back to Top &uarr;</a>
</section>


        
      </div>
    </div>
  </article>
</main>


    <footer id="footer" class="site-footer">
  <!-- start custom footer snippets -->

<!-- end custom footer snippets -->
<div class="social-icons"><a class="social-icon" href="/feed.xml"><i class="fas fa-rss-square fa-2x" title="Feed"></i></a></div><div class="copyright">
    
      <p>&copy; 2025 METACODES.PRO. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://github.com/mmistakes/so-simple-theme" rel="nofollow">So Simple</a>.</p>
    
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/assets/js/main.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>


  </body>

</html>
