<!DOCTYPE html>
<!--
    So Simple Jekyll Theme 3.2.0
    Copyright 2013-2019 Michael Rose - mademistakes.com | @mmistakes
    Free for personal and commercial use under the MIT license
    https://github.com/mmistakes/so-simple-theme/blob/master/LICENSE
-->
<html lang="en-US" class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  

  
    
    <!-- Begin Jekyll SEO tag v2.8.0 -->
<title>REFCODES.ORG | METACODES.PRO</title>
<meta name="generator" content="Jekyll v4.3.4" />
<meta property="og:title" content="REFCODES.ORG" />
<meta property="og:locale" content="de_DE" />
<meta name="description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<meta property="og:description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<link rel="canonical" href="https://www.metacodes.pro/refcodes/" />
<meta property="og:url" content="https://www.metacodes.pro/refcodes/" />
<meta property="og:site_name" content="METACODES.PRO" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="REFCODES.ORG" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebPage","description":"Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?","headline":"REFCODES.ORG","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://www.metacodes.pro/images/site-logo.png"}},"url":"https://www.metacodes.pro/refcodes/"}</script>
<!-- End Jekyll SEO tag -->


  

  <script>
    /* Cut the mustard */
    if ( 'querySelector' in document && 'addEventListener' in window ) {
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
    }
  </script>

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/skins/default.css">
  <link rel="alternate" type="application/atom+xml" title="METACODES.PRO" href="/feed.xml">
<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

</head>


  <body class="layout--category  refcodes-org">
    <nav class="skip-links">
  <h2 class="screen-reader-text">Skip links</h2>
  <ul>
    <li><a href="#primary-nav" class="screen-reader-shortcut">Skip to primary navigation</a></li>
    <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
  </ul>
</nav>

    
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">Menu</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul><li><a href="/blog/">Blog</a></li><li><a href="/news/">News</a></li><li><a href="/refcodes/">REFCODES</a></li><li><a href="/funcodes/">FUNCODES</a></li><li><a href="/manpages/">Manpages</a></li><li><a href="/archive/">Archive</a></li><li><a href="/tags/">Tags</a></li><li><a href="/downloads/">Downloads</a></li><li><a href="/search/">Search</a></li><li><a href="/about/">About</a></li></ul>
    </nav>
  </div><!-- /.navigation-wrapper -->


    <header class="masthead">

	

	

	

	<div class="wrap">
			<a href="/" class="site-logo" rel="home" title="METACODES.PRO">
				<img src="/images/refcodes-logo.png" class="site-logo-img animated fadeInDown" alt="METACODES.PRO">
			</a>
		
		
			
				<h1 class="site-title animated fadeIn"><a href="/">REFCODES @ METACODES.PRO</a></h1>
				<p class="site-description animated fadeIn" itemprop="description">Hosted at bitbucket.org/metacodez and found on Maven Central: Read about the REFCODES.ORG's APIs -</p>
			
		
	</div>
</header><!-- /.masthead -->


    <main id="main" class="main-content" aria-label="Content">
  <article>
    

    <div class="page-wrapper">
      <header class="page-header">
        
        
          <h1 id="page-title" class="page-title">REFCODES.ORG</h1>
        
      </header>
      <div class="page-content">
        


<section id="refcodes" class="taxonomy-section">
	<h2 class="taxonomy-title"></h2>
	<div class="entries-list">
		<!-- Sort by modified date -->
		
		
		
		
		
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.9/" rel="bookmark">REFCODES.ORG change list version 3.3.9
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.9 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2024-12-07T21:19:00+01:00">
		December 07, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.8/" rel="bookmark">REFCODES.ORG change list version 3.3.8
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.8 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2024-08-24T22:14:00+02:00">
		August 24, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.7/" rel="bookmark">REFCODES.ORG change list version 3.3.7
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.7 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2024-05-30T20:02:00+02:00">
		May 30, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.6/" rel="bookmark">REFCODES.ORG change list version 3.3.6
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.6 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">69 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2024-05-21T15:00:00+02:00">
		May 21, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.5/" rel="bookmark">REFCODES.ORG change list version 3.3.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2024-02-29T20:02:00+01:00">
		February 29, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.4/" rel="bookmark">REFCODES.ORG change list version 3.3.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-11-22T16:21:00+01:00">
		November 22, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.3/" rel="bookmark">REFCODES.ORG change list version 3.3.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-10-23T15:21:00+02:00">
		October 23, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.2/" rel="bookmark">REFCODES.ORG change list version 3.3.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-09-28T09:27:00+02:00">
		September 28, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.3.1/" rel="bookmark">REFCODES.ORG change list version 3.3.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.3.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-09-17T17:51:00+02:00">
		September 17, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.2.8/" rel="bookmark">REFCODES.ORG change list version 3.2.8
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.2.8 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-08-20T14:38:00+02:00">
		August 20, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.2.7/" rel="bookmark">REFCODES.ORG change list version 3.2.7
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.2.7 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">43 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-07-18T09:39:00+02:00">
		July 18, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.2.6/" rel="bookmark">REFCODES.ORG change list version 3.2.6
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.2.6 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-06-23T16:58:00+02:00">
		June 23, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.2.5/" rel="bookmark">REFCODES.ORG change list version 3.2.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.2.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-06-16T13:50:00+02:00">
		June 16, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.2.4/" rel="bookmark">REFCODES.ORG change list version 3.2.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.2.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">20 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-06-14T17:52:00+02:00">
		June 14, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.2.3/" rel="bookmark">REFCODES.ORG change list version 3.2.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.2.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-05-29T18:26:00+02:00">
		May 29, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.2.2/" rel="bookmark">REFCODES.ORG change list version 3.2.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.2.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">18 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-05-28T18:29:00+02:00">
		May 28, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.1.3/" rel="bookmark">REFCODES.ORG change list version 3.1.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.1.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-04-30T14:40:00+02:00">
		April 30, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-rest/" rel="bookmark">refcodes-rest: RESTful services using lambdas
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Build a RESTful lightweight service with just a few lines of code in three steps using lambda expressions.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">15 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2023-04-29T18:13:00+02:00">
			Updated on April 29, 2023
		</time>
	
	<time class="entry-date dt-published" datetime="2016-11-02T20:18:00+01:00">
		November 02, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-decoupling/" rel="bookmark">refcodes-decoupling: Breaking up dependencies between components
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Tiny dependency injection and inversion of control toolkit to assemble applications whilst developing and testing components independently …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">19 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-04-24T18:43:00+02:00">
		April 24, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.1.2/" rel="bookmark">REFCODES.ORG change list version 3.1.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.1.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-04-21T17:55:00+02:00">
		April 21, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.1.1/" rel="bookmark">REFCODES.ORG change list version 3.1.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.1.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">76 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-04-16T20:07:00+02:00">
		April 16, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-archetype/" rel="bookmark">refcodes-archetype: Using the REFCODES.ORG toolkit made easy
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Use the REFCODES.ORG archetypes at Maven Central to easily create REFCODES.ORG driven applications …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2023-03-09T01:22:00+01:00">
			Updated on March 09, 2023
		</time>
	
	<time class="entry-date dt-published" datetime="2022-04-15T13:57:00+02:00">
		April 15, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.1.0/" rel="bookmark">REFCODES.ORG change list version 3.1.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.1.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-03-01T17:17:00+01:00">
		March 01, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.9/" rel="bookmark">REFCODES.ORG change list version 3.0.9
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.9 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">22 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-01-06T15:27:00+01:00">
		January 06, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-cli/" rel="bookmark">refcodes-cli: Parse your args[]
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Just about everything you’ll need to comfortably parse your Java command line arguments …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">13 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2022-12-02T14:23:00+01:00">
			Updated on December 02, 2022
		</time>
	
	<time class="entry-date dt-published" datetime="2015-03-27T21:48:00+01:00">
		March 27, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.8/" rel="bookmark">REFCODES.ORG change list version 3.0.8
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.8 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-12-01T13:08:00+01:00">
		December 01, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-io/" rel="bookmark">refcodes-io: Paving the road for complex and low level I/O across boundaries
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The I/O artifact defines basic types handling communication between processes (across system boundaries), to be harnessed by complex and low level I/O …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-12-01T01:43:00+01:00">
		December 01, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.7/" rel="bookmark">REFCODES.ORG change list version 3.0.7
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.7 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-11-05T11:57:00+01:00">
		November 05, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.6/" rel="bookmark">REFCODES.ORG change list version 3.0.6
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.6 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-09-25T14:25:00+02:00">
		September 25, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.5/" rel="bookmark">REFCODES.ORG change list version 3.0.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-09-11T14:56:00+02:00">
		September 11, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.4/" rel="bookmark">REFCODES.ORG change list version 3.0.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-06-24T21:59:00+02:00">
		June 24, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-criteria/" rel="bookmark">refcodes-criteria: Criteria construction for selecting, filtering or identifying
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Create query statements which can be applied to data sinks from criteria objects and parse (construct) criteria objects from queries …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-06-22T17:54:00+02:00">
		June 22, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.3/" rel="bookmark">REFCODES.ORG change list version 3.0.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-06-20T19:45:00+02:00">
		June 20, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.2/" rel="bookmark">REFCODES.ORG change list version 3.0.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-06-03T12:01:00+02:00">
		June 03, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.1/" rel="bookmark">REFCODES.ORG change list version 3.0.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">79 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-05-31T18:33:00+02:00">
		May 31, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-generator/" rel="bookmark">refcodes-generator: Mass produce password permutations and distinct IDs
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Use a rule based word permutations generator for recovering lost data or a fast ID generator for mass production of adjustable uniqueness …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">9 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-05-28T09:25:00+02:00">
		May 28, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-3.0.0/" rel="bookmark">REFCODES.ORG change list version 3.0.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 3.0.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">12 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-04-07T17:06:00+02:00">
		April 07, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-tabular/" rel="bookmark">refcodes-tabular: Process tabular data and CSV files using POJOs
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Use the REFCODES.ORG archetypes at Maven Central to easily create REFCODES.ORG driven applications …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2022-03-29T16:56:00+02:00">
			Updated on March 29, 2022
		</time>
	
	<time class="entry-date dt-published" datetime="2020-01-27T01:12:00+01:00">
		January 27, 2020
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-matcher/" rel="bookmark">refcodes-matcher: Build custom matching logic and match path patterns
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Match your objects by building hierarchical matching structures with the help of some syntactical sugar (if you like) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">10 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-03-22T10:21:00+01:00">
		March 22, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-serial/" rel="bookmark">refcodes-serial: A serial communication toolkit for Java
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Code serial communication at a high abstraction, addressing issues such CRC, endianess, acknowledgement or handshaking whilst keeping you full control over your bits and bytes …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">10 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-02-08T05:28:00+01:00">
		February 08, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-properties/" rel="bookmark">refcodes-properties: Managing your application’s configuration
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Compose the way you need to retrieve (and store) your application’s properties</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2022-01-11T11:17:00+01:00">
			Updated on January 11, 2022
		</time>
	
	<time class="entry-date dt-published" datetime="2017-12-23T20:28:00+01:00">
		December 23, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.2.2/" rel="bookmark">REFCODES.ORG change list version 2.2.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.2.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-01-01T03:02:02+01:00">
		January 01, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.2.1/" rel="bookmark">REFCODES.ORG change list version 2.2.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.2.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-12-22T11:51:00+01:00">
		December 22, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.2.0/" rel="bookmark">REFCODES.ORG change list version 2.2.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.2.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-12-01T20:27:00+01:00">
		December 01, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.1.6/" rel="bookmark">REFCODES.ORG change list version 2.1.6
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.1.6 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-11-10T15:14:00+01:00">
		November 10, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.1.5/" rel="bookmark">REFCODES.ORG change list version 2.1.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.1.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">20 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-11-08T19:32:00+01:00">
		November 08, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.1.4/" rel="bookmark">REFCODES.ORG change list version 2.1.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.1.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-30T12:30:00+02:00">
		August 30, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.1.3/" rel="bookmark">REFCODES.ORG change list version 2.1.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.1.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-29T21:57:00+02:00">
		August 29, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.1.2/" rel="bookmark">REFCODES.ORG change list version 2.1.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.1.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">32 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-07-23T22:15:00+02:00">
		July 23, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.1.1/" rel="bookmark">REFCODES.ORG change list version 2.1.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.1.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-02-11T20:18:00+01:00">
		February 11, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.1.0/" rel="bookmark">REFCODES.ORG change list version 2.1.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.1.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">71 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-01-02T19:55:00+01:00">
		January 02, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.0.5/" rel="bookmark">REFCODES.ORG change list version 2.0.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.0.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">12 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-12-26T14:45:00+01:00">
		December 26, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-audio/" rel="bookmark">refcodes-audio: Handle WAV files and line-out with just some I/O streams
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Use I/O streams to generate and play your sound waves on your PC’s speaker or write them to a WAV file …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-12-22T10:00:00+01:00">
		December 22, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.0.4/" rel="bookmark">REFCODES.ORG change list version 2.0.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.0.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-07-21T14:09:00+02:00">
		July 21, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.0.3/" rel="bookmark">REFCODES.ORG change list version 2.0.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.0.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-07-07T19:12:00+02:00">
		July 07, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.0.2/" rel="bookmark">REFCODES.ORG change list version 2.0.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.0.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-06-10T17:19:00+02:00">
		June 10, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.0.1/" rel="bookmark">REFCODES.ORG change list version 2.0.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.0.1 have been deployed to Maven Central (now harnessing Maven Archetypes), see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-04-29T06:56:00+02:00">
		April 29, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-2.0.0/" rel="bookmark">REFCODES.ORG change list version 2.0.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 2.0.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-02-19T15:02:00+01:00">
		February 19, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.10.3/" rel="bookmark">REFCODES.ORG change list version 1.10.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.10.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-01-20T18:15:00+01:00">
		January 20, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.10.2/" rel="bookmark">REFCODES.ORG change list version 1.10.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.10.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-01-13T19:29:00+01:00">
		January 13, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.10.1/" rel="bookmark">REFCODES.ORG change list version 1.10.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Xmas updates and new features! The REFCODES artifacts version 1.10.1 have been deployed to Maven Central, see the change list for the updates … “- Merry Christmas!</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-12-24T19:16:00+01:00">
		December 24, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.10.0/" rel="bookmark">REFCODES.ORG change list version 1.10.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.10.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-11-25T07:53:00+01:00">
		November 25, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.9.9/" rel="bookmark">REFCODES.ORG change list version 1.9.9
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.9.9 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-11-18T10:55:00+01:00">
		November 18, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.3.5/" rel="bookmark">REFCODES.ORG change list version 1.3.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.3.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-10-28T17:44:00+01:00">
		October 28, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.3.4/" rel="bookmark">REFCODES.ORG change list version 1.3.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.3.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-10-10T23:57:00+02:00">
		October 10, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.3.3/" rel="bookmark">REFCODES.ORG change list version 1.3.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.3.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-09-21T23:59:00+02:00">
		September 21, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.3.2/" rel="bookmark">REFCODES.ORG change list version 1.3.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.3.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-09-21T22:08:00+02:00">
		September 21, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.3.1/" rel="bookmark">REFCODES.ORG change list version 1.3.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.3.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-09-17T23:58:00+02:00">
		September 17, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.3.0/" rel="bookmark">REFCODES.ORG change list version 1.3.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.3.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-06-24T12:06:00+02:00">
		June 24, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.9/" rel="bookmark">REFCODES.ORG change list version 1.2.9
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.9 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">10 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-06-10T20:49:00+02:00">
		June 10, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-logger/" rel="bookmark">refcodes-logger: Fancy runtime-logs and highly scalable cloud logging
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>How to log any kinds of structured data - including your runtime logs - into the cloud (NoSQL clusters) or your local fancy colorful and tidy formatted console …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">18 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2018-06-09T10:41:00+02:00">
			Updated on June 09, 2018
		</time>
	
	<time class="entry-date dt-published" datetime="2015-04-04T10:34:00+02:00">
		April 04, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.8/" rel="bookmark">REFCODES.ORG change list version 1.2.8
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.8 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-05-26T21:02:00+02:00">
		May 26, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.7/" rel="bookmark">REFCODES.ORG change list version 1.2.7
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.7 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-05-19T18:48:00+02:00">
		May 19, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.6/" rel="bookmark">REFCODES.ORG change list version 1.2.6
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.6 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-05-05T17:57:00+02:00">
		May 05, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.5/" rel="bookmark">REFCODES.ORG change list version 1.2.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-04-12T22:02:00+02:00">
		April 12, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.4/" rel="bookmark">REFCODES.ORG change list version 1.2.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">26 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-04-08T18:05:00+02:00">
		April 08, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.3/" rel="bookmark">REFCODES.ORG change list version 1.2.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">16 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-03-25T16:21:00+02:00">
		March 25, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.2/" rel="bookmark">REFCODES.ORG change list version 1.2.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-02-14T23:59:00+01:00">
		February 14, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.1/" rel="bookmark">REFCODES.ORG change list version 1.2.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-02-09T22:20:00+01:00">
		February 09, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.2.0/" rel="bookmark">REFCODES.ORG change list version 1.2.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.2.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-12-23T17:07:00+01:00">
		December 23, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.1.9/" rel="bookmark">REFCODES.ORG change list version 1.1.9
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.9 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">22 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-11-23T19:59:00+01:00">
		November 23, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.1.8/" rel="bookmark">REFCODES.ORG change list version 1.1.8
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.8 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">21 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-11-01T20:33:00+01:00">
		November 01, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.1.7/" rel="bookmark">REFCODES.ORG change list version 1.1.7
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.7 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">43 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2017-07-25T20:36:00+02:00">
			Updated on July 25, 2017
		</time>
	
	<time class="entry-date dt-published" datetime="2017-07-23T19:34:00+02:00">
		July 23, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.1.6/" rel="bookmark">REFCODES.ORG change list version 1.1.6
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.6 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-05-15T21:34:00+02:00">
		May 15, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.1.5/" rel="bookmark">REFCODES.ORG change list version 1.1.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-05-05T22:46:00+02:00">
		May 05, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.1.4/" rel="bookmark">REFCODES.ORG change list version 1.1.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">10 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2017-04-26T21:55:00+02:00">
			Updated on April 26, 2017
		</time>
	
	<time class="entry-date dt-published" datetime="2017-04-25T22:23:00+02:00">
		April 25, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_versions-1.1.3/" rel="bookmark">REFCODES.ORG change list version 1.1.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-02-20T23:57:00+01:00">
		February 20, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.1.2/" rel="bookmark">REFCODES.ORG change list version 1.1.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">12 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-12-17T11:10:00+01:00">
		December 17, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.1.1/" rel="bookmark">REFCODES.ORG change list version 1.1.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">11 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-11-01T22:06:00+01:00">
		November 01, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.1.0/" rel="bookmark">REFCODES.ORG change list version 1.1.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.1.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-09-04T14:54:00+02:00">
		September 04, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.0.5/" rel="bookmark">REFCODES.ORG change list version 1.0.5
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.0.5 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-08-07T21:33:00+02:00">
		August 07, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.0.0/" rel="bookmark">REFCODES.ORG change list version 1.0.0
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.0.0 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">31 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2016-08-07T15:14:00+02:00">
			Updated on August 07, 2016
		</time>
	
	<time class="entry-date dt-published" datetime="2015-06-28T10:04:00+02:00">
		June 28, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.0.4/" rel="bookmark">REFCODES.ORG change list version 1.0.4
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.0.4 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-06-14T21:18:00+02:00">
		June 14, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.0.3/" rel="bookmark">REFCODES.ORG change list version 1.0.3
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.0.3 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-03-28T20:27:00+02:00">
		March 28, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.0.2/" rel="bookmark">REFCODES.ORG change list version 1.0.2
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.0.2 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-03-24T21:49:00+01:00">
		March 24, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/changelist/refcodes.org_change_list_version_1.0.1/" rel="bookmark">REFCODES.ORG change list version 1.0.1
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The REFCODES artifacts version 1.0.1 have been deployed to Maven Central, see the change list for the updates …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">22 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-03-15T23:25:00+01:00">
		March 15, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-jobbus/" rel="bookmark">refcodes-jobbus: Asynchronous job execution
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Push your jobs onto the job-bus, let the job-bus execute your jobs asynchronously and grab the results later on - don’t bother with where (local or remote) your jobs are being executed …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2015-05-05T21:52:00+02:00">
		May 05, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-security/" rel="bookmark">refcodes-security: Chaos-based encryption as JCE (and without)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Chaos-based encryption is easy to implement and easy to be attached to the Java Cryptographic Extension (JCE) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2015-04-19T11:51:00+02:00">
		April 19, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-eventbus/" rel="bookmark">refcodes-eventbus: Observer + Publish/Subscribe = Message broker
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Decoupling and channeling your asynchronous publish/subscribe message broker communication with the refcodes-eventbus …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-04-19T21:33:00+02:00">
			Updated on April 19, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="2015-04-30T20:30:00+02:00">
		April 30, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-command/" rel="bookmark">refcodes-command: Do the undo
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Ever wondered how to easily implement and extend your application’s undo functionality?</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-04-09T22:50:00+02:00">
			Updated on April 09, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="2015-03-28T21:48:00+01:00">
		March 28, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-remoting/" rel="bookmark">refcodes-remoting: Face-to-face lightweight remote method calls
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Publish your Java object on your server; connect to it on your client; use it on your client as if you were using it on the server … curious?</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2015-04-08T21:03:00+02:00">
		April 08, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/refcodes/refcodes-forwardsecrecy/" rel="bookmark">refcodes-forwardsecrecy: High encryption throughput
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Encrypt with the security of asymmetric- and the throughput of symmetric encryption (in the cloud) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">19 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-04-03T19:56:00+02:00">
			Updated on April 03, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="2015-04-02T22:02:00+02:00">
		April 02, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
	</div>
	<a href="#page-title" class="back-to-top">Back to Top &uarr;</a>
</section>


        
      </div>
    </div>
  </article>
</main>


    <footer id="footer" class="site-footer">
  <!-- start custom footer snippets -->

<!-- end custom footer snippets -->
<div class="social-icons"><a class="social-icon" href="/feed.xml"><i class="fas fa-rss-square fa-2x" title="Feed"></i></a></div><div class="copyright">
    
      <p>&copy; 2025 METACODES.PRO. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://github.com/mmistakes/so-simple-theme" rel="nofollow">So Simple</a>.</p>
    
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/assets/js/main.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>


  </body>

</html>
