<!DOCTYPE html>
<!--
    So Simple Jekyll Theme 3.2.0
    Copyright 2013-2019 Michael Rose - mademistakes.com | @mmistakes
    Free for personal and commercial use under the MIT license
    https://github.com/mmistakes/so-simple-theme/blob/master/LICENSE
-->
<html lang="en-US" class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  

  
    
    <!-- Begin Jekyll SEO tag v2.8.0 -->
<title>Blog Posts | METACODES.PRO</title>
<meta name="generator" content="Jekyll v4.3.4" />
<meta property="og:title" content="Blog Posts" />
<meta property="og:locale" content="de_DE" />
<meta name="description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<meta property="og:description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<link rel="canonical" href="https://www.metacodes.pro/blog/" />
<meta property="og:url" content="https://www.metacodes.pro/blog/" />
<meta property="og:site_name" content="METACODES.PRO" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Blog Posts" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebPage","description":"Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?","headline":"Blog Posts","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://www.metacodes.pro/images/site-logo.png"}},"url":"https://www.metacodes.pro/blog/"}</script>
<!-- End Jekyll SEO tag -->


  

  <script>
    /* Cut the mustard */
    if ( 'querySelector' in document && 'addEventListener' in window ) {
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
    }
  </script>

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/skins/default.css">
  <link rel="alternate" type="application/atom+xml" title="METACODES.PRO" href="/feed.xml">
<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

</head>


  <body class="layout--category  blog-posts">
    <nav class="skip-links">
  <h2 class="screen-reader-text">Skip links</h2>
  <ul>
    <li><a href="#primary-nav" class="screen-reader-shortcut">Skip to primary navigation</a></li>
    <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
  </ul>
</nav>

    
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">Menu</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul><li><a href="/blog/">Blog</a></li><li><a href="/news/">News</a></li><li><a href="/refcodes/">REFCODES</a></li><li><a href="/funcodes/">FUNCODES</a></li><li><a href="/manpages/">Manpages</a></li><li><a href="/archive/">Archive</a></li><li><a href="/tags/">Tags</a></li><li><a href="/downloads/">Downloads</a></li><li><a href="/search/">Search</a></li><li><a href="/about/">About</a></li></ul>
    </nav>
  </div><!-- /.navigation-wrapper -->


    <header class="masthead">

	

	

	

	<div class="wrap">
			<a href="/" class="site-logo" rel="home" title="METACODES.PRO">
				<img src="/images/site-logo.png" class="site-logo-img animated fadeInDown" alt="METACODES.PRO">
			</a>
		
		
			
				<h1 class="site-title animated fadeIn"><a href="/">METACODES.PRO</a></h1>
				<p class="site-description animated fadeIn" itemprop="description">Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?</p>
			
		
	</div>
</header><!-- /.masthead -->


    <main id="main" class="main-content" aria-label="Content">
  <article>
    

    <div class="page-wrapper">
      <header class="page-header">
        
        
          <h1 id="page-title" class="page-title">Blog Posts</h1>
        
      </header>
      <div class="page-content">
        


<section id="blog" class="taxonomy-section">
	<h2 class="taxonomy-title"></h2>
	<div class="entries-list">
		<!-- Sort by modified date -->
		
		
		
		
		
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/how_the_ingenious_design_of_basic_democratized_programming_for_the_masses/" rel="bookmark">How the ingenious design of BASIC democratized programming for the masses
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Despite its simplicity and later criticism, <code class="language-plaintext highlighter-rouge">BASIC</code>’s ingenious design empowered an entire generation to harness the power of microcomputers, making programming accessible to the masses by overcoming the shortcomings of 8-bit hardware back then.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">15 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2024-12-11T21:51:00+01:00">
			Updated on December 11, 2024
		</time>
	
	<time class="entry-date dt-published" datetime="2024-12-07T17:54:00+01:00">
		December 07, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/lediano_bespielen_eines_piano_led-streifens/" rel="bookmark">LEDIANO, Bespielen eines Piano-LED-Streifens
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>LEDIANO ist eine Software, die über einen Raspberry Pi eine LED-Leiste steuert, um die Koordination von Motorik und Gehör zu fördern, indem die zu spielenden Klaviertasten durch das Aufleuchten der entsprechenden LEDs angezeigt werden.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2024-09-14T17:05:00+02:00">
			Updated on September 14, 2024
		</time>
	
	<time class="entry-date dt-published" datetime="2023-03-21T16:15:00+01:00">
		March 21, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/computer_archeology_exploring_the_anatomy_of_an_ms_dos_virus/" rel="bookmark">Computer Archeology: Exploring the Anatomy of an MS-DOS Virus
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Unveiling a highly idiosyncratic 1990s hackers’ malware creation time capsule, along with an analysis of their intuitive anticipation of modern programming techniques …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">72 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2024-06-22T15:28:00+02:00">
			Updated on June 22, 2024
		</time>
	
	<time class="entry-date dt-published" datetime="1993-09-09T00:00:00+02:00">
		September 09, 1993
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/short-term_effects_and_long-term_impacts_of_ai/" rel="bookmark">Short-Term effects and Long-Term impacts of AI and Machine Learning
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Reasoning upon the current rise of AI and Machine Learning, I scribbled down some thoughts regarding the <em>Short-Term effects and Long-Term impacts of AI</em> and had GPT-4 render my input into a blog post (statements 2. or 3. may apply to this article) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2024-01-30T18:34:00+01:00">
			Updated on January 30, 2024
		</time>
	
	<time class="entry-date dt-published" datetime="2024-01-21T12:44:00+01:00">
		January 21, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/yet_another_ai_cheat_sheet/" rel="bookmark">Yet another AI cheat sheet
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>As <code class="language-plaintext highlighter-rouge">AI</code> continues to evolve, I sat down to prepare a structured overview of this topic for me to the have some cheat sheet for looking up related terms and definitions quickly …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">20 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2024-01-01T15:57:00+01:00">
		January 01, 2024
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/yet_another_vim_cheat/" rel="bookmark">Yet another VI(M) cheat sheet
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The ACNS Bulletin ED–0 «vi Editor “Cheat Sheet”» from the University at Albany, updated with some copy’n’ paste hints and visual modes outlined (as I tend to forget how to invoke the most essential vi functionality) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-12-01T13:32:00+01:00">
		December 01, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/yet_another_big_o_cheat_sheet/" rel="bookmark">Yet another Big-O cheat sheet
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Unlock the algorithmic secrets with this Big-O Notation cheat sheet, decoding runtime behaviors in a sentence …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-03-17T01:31:00+01:00">
		March 17, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/java_software_developer_and_iot_programmer/" rel="bookmark">Java Software Developer and IoT Programmer: Your Coding Architect
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Before I forget to mention (though quite a few people seem already to know), I may help you with your software projects …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-02-26T19:43:00+01:00">
		February 26, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/write_one_run_anywhere_an_android_game_using_javafx_and_the_graalvm/" rel="bookmark">Write once, run anywhere: An Android game using JavaFX and the GraalVM
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Get it into the Play Store! Writing an Android game with Java &gt;= 16 and JavaFX (which also runs on GNU Linux and MS Windows using a single code base) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">16 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2023-01-09T16:37:00+01:00">
		January 09, 2023
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/graalvm_native_command_line_tools_for_linux_and_windows_written_in_java/" rel="bookmark">GraalVM: Native command line tools for Linux and Windows written in Java
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Thanks to the GraalVM, you may compile your Java command line tools to native executables, directly running on MS Windows or GNU Linux without any JVM being installed or bundled …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">10 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-11-15T17:01:00+01:00">
		November 15, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/java_deliverables_as_executable_bundle_and_the_launcher_trick/" rel="bookmark">Java deliverables as executable bundle and the launcher trick
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>In the past I coded some command line tools in Java which are quite useful for me and which I ought to be useful for others. Providing just fat JAR files implies launching of those Java applications to be more or less cumbersome …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">13 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-11-01T02:48:00+01:00">
		November 01, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/yet_another_bash_cheat_sheet/" rel="bookmark">Yet another BASH cheat sheet
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The tiny BASH Cheet Sheet provides you (me) with a more or less alphabetically sorted tool-box of the expressions I most commonly use and tend to forget …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">13 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2022-09-24T11:38:00+02:00">
			Updated on September 24, 2022
		</time>
	
	<time class="entry-date dt-published" datetime="2018-09-01T18:31:00+02:00">
		September 01, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/buchtipp_spring_for_graphql/" rel="bookmark">Buchtipp: Spring for GraphQL
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Reckoning the book »Spring for GraphQL« from Michael Schäfer very helpful, the Javamagazin 8/22 published an according book review I wrote …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-08-19T10:36:00+02:00">
		August 19, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/better_programs-citations_one_should_have_heard_of_(2)/" rel="bookmark">Better programs - Citations one should have heard of (2/2)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>This is the second part of a two-part series on citations one should have heard of and why them make you a better programmer …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2022-03-27T18:10:00+02:00">
			Updated on March 27, 2022
		</time>
	
	<time class="entry-date dt-published" datetime="2016-07-02T22:08:00+02:00">
		July 02, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/better_programs-citations_one_should_have_heard_of_(1)/" rel="bookmark">Better programs - Citations one should have heard of (1/2)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The last years I stumbled over notable citations and excerpts or even parodies and other bits and pieces which I regard should accompany good software engineers to produce better code …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">11 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2022-03-26T15:01:00+01:00">
			Updated on March 26, 2022
		</time>
	
	<time class="entry-date dt-published" datetime="2016-06-26T12:08:00+02:00">
		June 26, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/jug_munich_2022/" rel="bookmark">JUG Munich - Automatically answer Teams chats with Java microservices
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>In January 2022 we were offered the opportunity to talk about automatically answering MS-Teams chats with Java microservices at the JUG (Java User Group) Munich (»Teams-Chats mit Java-Microservices automatisch beantworten«) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2022-01-25T20:15:00+01:00">
		January 25, 2022
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/it_tage_2021/" rel="bookmark">IT-Tage 2021 - No WLAN, no LAN: Wiring IoT installations
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>In December ‘21, I was happy to have a slot as a speaker at the IT-Tage 2021, presenting my topic »No WLAN, no LAN: wiring IoT installations« …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-12-09T21:12:00+01:00">
		December 09, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/chaos-based_encryption_revisited/" rel="bookmark">Chaos-based encryption - revisited!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>How to use the CHAOS command line tool to evaluate Chaos-based encryption alongside a comparison to the AES algorithm.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">17 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2021-08-22T17:52:00+02:00">
		August 22, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/autumn_leaves_terminate_and_stay_resident/" rel="bookmark">Autumn leaves, Terminate and Stay Resident!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>In the year 1991, I coded a TSR program simulating the effect of the Cascade Virus (also known as the Herbstlaub Virus) as of my best imagination … now it turns out that it’s the Cascade Virus’ effect on speed!</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">16 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2021-01-30T17:10:00+01:00">
			Updated on January 30, 2021
		</time>
	
	<time class="entry-date dt-published" datetime="1991-08-14T00:00:00+02:00">
		August 14, 1991
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/funcodes/scrolling_and_fading_video_conferencing/" rel="bookmark">Scrolling and fading video conferencing with PixGRID
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The year 2020 was the year of video conferencing and remote meetings (“corona”) … how can you ease the situation of your colleagues when the meetings are getting boring?</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2020-12-30T18:33:00+01:00">
		December 30, 2020
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/die_dateien_von_heute/" rel="bookmark">Listings im Kilo-Pack: Die Dateien von heute
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>I was very proud when in October 1992 the computer magazine »DOS International« published a 1024 bytes short Turbo Pascal program I wrote …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2020-06-15T23:12:00+02:00">
			Updated on June 15, 2020
		</time>
	
	<time class="entry-date dt-published" datetime="1992-10-01T00:00:00+01:00">
		October 01, 1992
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/java_fx_checkerboard_for_fun_and_cellular_automaton_experiments/" rel="bookmark">JavaFX checkerboard for fun and cellular automaton experiments
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Doing some thinking on BoulderDash being a cellular automaton and programming a petri dish for board games …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2019-11-14T23:12:00+01:00">
			Updated on November 14, 2019
		</time>
	
	<time class="entry-date dt-published" datetime="2015-11-11T20:20:00+01:00">
		November 11, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/java_profiler_jprofiler/" rel="bookmark">Java Profiler sponsored by JProfiler
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>As of today, REFCODES.ORG’s open source software is profiled with JProfiler thanks to ej-technologies’s <code class="language-plaintext highlighter-rouge">OSS</code> support initiative.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-10-31T06:44:00+01:00">
		October 31, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/coding_serbia_2019/" rel="bookmark">Coding Serbia 2019 - With swarm intelligence on Burglar Hunt
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>In May ‘19, I was happy to speak at the Coding Serbia 2019, presenting my topic »With swarm intelligence on Burglar Hunt« …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-05-20T23:48:00+02:00">
		May 20, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/the_mystery_of_three_letter_acronyms/" rel="bookmark">The mystery of three letter acronyms
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Playing around with three letter acronyms (TLA) seems to have some history in computing. You’ll find them in SciFi movies or in the naming of some products.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-04-27T07:11:00+02:00">
		April 27, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/ed_post_ueber_javascript_(3)/" rel="bookmark">Ed Post über JavaScript (3/3)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Ed Post im Interview: “Ist JS (k)eine General Purpose Sprache?” und viele Fragen zu JavaScript werden beantwortet.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-01-21T00:14:00+01:00">
		January 21, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/ed_post_ueber_javascript_(2)/" rel="bookmark">Ed Post über JavaScript (2/3)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Ed Post im Interview: “Ist JS (k)eine General Purpose Sprache?” und viele Fragen zu JavaScript werden beantwortet.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">28 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-01-19T00:13:00+01:00">
		January 19, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/ed_post_ueber_javascript_(1)/" rel="bookmark">Ed Post über JavaScript (1/3)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Ed Post im Interview: “Ist JS (k)eine General Purpose Sprache?” und viele Fragen zu JavaScript werden beantwortet …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">14 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-01-17T00:12:00+01:00">
		January 17, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/it_tage_2018/" rel="bookmark">IT-Tage 2018 - Experiences of an Enterprise Developer with IoT
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>In December ‘18, I was happy to have a slot as a speaker at the IT-Tage 2018, presenting my topic »Experiences of an Enterprise Developer with IoT« …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-11-09T10:02:00+01:00">
		November 09, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/jvm_con_2018/" rel="bookmark">JVM-Con 2018 - With swarm intelligence on Burglar Hunt
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>In November ‘18, I was happy to have a slot as a speaker at the JVM-Con 2018, presenting my topic »With swarm intelligence on Burglar Hunt« …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-11-09T10:02:00+01:00">
		November 09, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/all-in-one_java_configuration_properties_at_hand/" rel="bookmark">All-in-one Java configuration properties at hand
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Learn on how to use the all-in-one runtime configuration properties giving you all the power of the various configuration features with a single line of code …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2018-05-19T19:16:00+02:00">
			Updated on May 19, 2018
		</time>
	
	<time class="entry-date dt-published" datetime="2018-05-18T12:15:00+02:00">
		May 18, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/automatically_obfuscate_your_java_applications_configuration/" rel="bookmark">Automatically obfuscate your Java application’s configuration
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Secure your application’s sensitive properties (passwords, secrets or access keys) on your hosts, on a host-, user- and/or application-individual context, and learn on how to use the all-in-one runtime configuration properties …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2018-05-19T19:12:00+02:00">
			Updated on May 19, 2018
		</time>
	
	<time class="entry-date dt-published" datetime="2018-05-16T22:47:00+02:00">
		May 16, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/bare_metal_rest_with_just_a_view_lines_of_code/" rel="bookmark">Bare-Metal REST with just a few lines of code
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>On building slim RESTful services and REST clients without a Heavy-Weight framework doing magic in the background and with a little help from Java 8’s lambda expressions.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2018-05-05T22:11:00+02:00">
			Updated on May 05, 2018
		</time>
	
	<time class="entry-date dt-published" datetime="2016-12-12T21:24:00+01:00">
		December 12, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/sind_frameworks_alternativlos/" rel="bookmark">Are frameworks in software development without alternative?
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Last year I was speaking about Java Frameworks at the JVM-Con 2017 in Cologne and recently, as a follow up, I put all which I was speaking about into an article …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2018-02-22T22:36:00+01:00">
		February 22, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/the_canonical_model_an_ace_upon_your_sleeve/" rel="bookmark">The canonical model, an ace upon your sleeve
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Learn how the canonical model pattern helps you harness a bag full of functioanlity whilst keeping your effort low (and making the bits and pieces fit together magically) …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-12-06T18:51:00+01:00">
		December 06, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/dead_simple_java_application_configuration/" rel="bookmark">Dead simple Java application configuration
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Retrieve (and store!) your YAML, TOML, JSON, XML or whatever (profiled) properties from various locations, resources or folders, just as you need it!</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2017-12-03T20:03:00+01:00">
		December 03, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/jvm_con_2017/" rel="bookmark">JVM-Con 2017 in Cologne
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>This year I have been at the JVM-Con 2017 in Cologne as a speaker, the topic being »About sense and nonsense on extensive framework use« …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2017-12-02T20:17:00+01:00">
			Updated on December 02, 2017
		</time>
	
	<time class="entry-date dt-published" datetime="2017-12-01T20:03:00+01:00">
		December 01, 2017
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/coding_serbia_2014/" rel="bookmark">Coding Serbia 2014 in Novi Sad - Big data processing the lean way
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Talking about »Big data processing the lean way - a case study« at the Coding Serbia 2014 conference in Novi Sad …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2017-12-02T19:45:00+01:00">
			Updated on December 02, 2017
		</time>
	
	<time class="entry-date dt-published" datetime="2014-12-06T23:48:00+01:00">
		December 06, 2014
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/base_how_low_can_you_go_base64_base32_base16/" rel="bookmark">Base! How low can you go? Base64, Base32, Base16, …
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Just for fun I implemented a Base64 codec while replacing some utility classes (and third party dependencies) with builders …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2017-10-04T22:44:00+02:00">
			Updated on October 04, 2017
		</time>
	
	<time class="entry-date dt-published" datetime="2016-03-16T19:13:00+01:00">
		March 16, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/of_software_development_methodologies_teams_and_individuals/" rel="bookmark">Of software development methodologies, teams and individuals
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Whilst pushing new methodologies into a software development team, one should understand the difference between methodologies of team relevance and of individual taste …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">9 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2016-08-26T17:14:00+02:00">
			Updated on August 26, 2016
		</time>
	
	<time class="entry-date dt-published" datetime="2015-06-06T18:31:00+02:00">
		June 06, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/no_more_mr_nice_gue_no_more_code_review/" rel="bookmark">No more Mr. Nice Guy, no more code reviews!!!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>No more code reviews, Mr. Nice Guy! Did you ever spend more than one second on thinking about WHO has to use your code’s INTERFACES ?!? Go away code review, I want good interfaces …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2016-08-05T20:43:00+02:00">
			Updated on August 05, 2016
		</time>
	
	<time class="entry-date dt-published" datetime="2016-04-26T19:45:00+02:00">
		April 26, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/yet_another_rest_cheat_sheet/" rel="bookmark">Yet another REST cheat sheet
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>I believe that good interfaces are even more important than good code. Refactoring a bad interface bears far-reaching implications effecting the interface implementation(s) as well as all the interface consumers …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">5 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2016-08-04T19:43:00+02:00">
			Updated on August 04, 2016
		</time>
	
	<time class="entry-date dt-published" datetime="2016-04-15T19:28:00+02:00">
		April 15, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/the_utility-builder_pattern/" rel="bookmark">The utility-builder pattern
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Combining a utility class’s functionality with the builder pattern, add some spicy properties to it, and here comes the utility-builder pattern. Let’s try a definition …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-06-04T16:54:00+02:00">
		June 04, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/good_bye_utility_classes_here_come_builders_(1)/" rel="bookmark">Good bye utility classes, here come builders (1/2)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>This first part of a two parts series on builders is on using the builder pattern for creating formatted text tables to your console…</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2016-03-30T21:40:00+02:00">
			Updated on March 30, 2016
		</time>
	
	<time class="entry-date dt-published" datetime="2016-03-25T21:09:00+01:00">
		March 25, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/good_bye_utility_classes_here_come_builders_(2)/" rel="bookmark">Good bye utility classes, here come builders (2/2)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Part 2 on builders being a real alternative to utility classes, this time on doing ASCII art with a builder versus a utility class …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">6 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2016-03-27T10:20:00+02:00">
		March 27, 2016
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/off_topic_summertime_workshops/" rel="bookmark">Off topic summertime workshops
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Summer break is over and I wasn’t lazy … trying to get an electrified flight plane into the air and refurbishing an old Merkur VISION arcade cabinet …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-11-10T17:35:00+01:00">
			Updated on November 10, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="2015-11-07T11:35:00+01:00">
		November 07, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/lambda_up_your_jobs_asynchronously/" rel="bookmark">Lambda up your jobs asynchronously!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Java 8’s lambda support has been added to the refcodes-jobbus as of version 1.0.0-SNAPSHOT …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2015-05-25T20:47:00+02:00">
		May 25, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/obliged_to_do_the_optional_or_is_it_optional/" rel="bookmark">Java 8: Obliged to do the Optional … or is it optional?
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>There seems to be some uncertainty on how to use the Optional class provided by Java 8 - I disect an example to get closer to an answer …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">9 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2015-05-14T09:25:00+02:00">
		May 14, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/get_your_jobs_executed_asynchronously/" rel="bookmark">Get your jobs executed asynchronously - anywhere!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Lately, asynchronous (distributed) execution of jobs experiences some revival, be it as of technical constraints or as of leveraging big data processing …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2015-05-07T20:56:00+02:00">
		May 07, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/chaos-based_encryption/" rel="bookmark">Verschlüsselung im Chaos (Chaos-based encryption)
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>This text I received in the late 1980s in Harare (Zimbabwe ) from the mathematician Sönke Rehder; back then as a pupil I coded the herein described algorithm in BASIC on an Atari 600XL …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">8 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-04-15T21:47:00+02:00">
			Updated on April 15, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="1988-09-12T00:00:00+02:00">
		September 12, 1988
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/publish_subscribe_observe_event-bus/" rel="bookmark">Publish … subscribe … observe … event-bus?
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Lately some colleagues and me were reasoning on how to do client-side communication between web-page components … with Java I recommend taking a look at the refcodes-eventbus …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-04-15T21:47:00+02:00">
			Updated on April 15, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="2015-05-01T16:10:00+02:00">
		May 01, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/having_fun_with_the_command_pattern/" rel="bookmark">Having fun with the command pattern
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Doing an undo in your apps and how you prepare your methods to be called later …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">1 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-04-09T22:55:00+02:00">
			Updated on April 09, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="2015-03-30T21:37:00+02:00">
		March 30, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/logging_like_the_nerds_log/" rel="bookmark">Logging like the nerds log
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>An introduction to the refcodes-logger framework; let’s start with giving your logs some color and tidy them up! Then let’s take over spring-boot’s log output …</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2015-04-04T15:17:00+02:00">
		April 04, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/hello_world/" rel="bookmark">Hello REFCODES.ORG!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>My blog to accompany my org.refcodes Java based Maven artifacts</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">~1 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2015-04-03T19:57:00+02:00">
			Updated on April 03, 2015
		</time>
	
	<time class="entry-date dt-published" datetime="2015-03-27T21:48:00+01:00">
		March 27, 2015
	</time>
    </footer>
  
</article>

					
				
			
		
	</div>
	<a href="#page-title" class="back-to-top">Back to Top &uarr;</a>
</section>


        
      </div>
    </div>
  </article>
</main>


    <footer id="footer" class="site-footer">
  <!-- start custom footer snippets -->

<!-- end custom footer snippets -->
<div class="social-icons"><a class="social-icon" href="/feed.xml"><i class="fas fa-rss-square fa-2x" title="Feed"></i></a></div><div class="copyright">
    
      <p>&copy; 2025 METACODES.PRO. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://github.com/mmistakes/so-simple-theme" rel="nofollow">So Simple</a>.</p>
    
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/assets/js/main.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>


  </body>

</html>
