<!DOCTYPE html>
<!--
    So Simple Jekyll Theme 3.2.0
    Copyright 2013-2019 Michael Rose - mademistakes.com | @mmistakes
    Free for personal and commercial use under the MIT license
    https://github.com/mmistakes/so-simple-theme/blob/master/LICENSE
-->
<html lang="en-US" class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  

  
    
    <!-- Begin Jekyll SEO tag v2.8.0 -->
<title>FUNCODES.CLUB | METACODES.PRO</title>
<meta name="generator" content="Jekyll v4.3.4" />
<meta property="og:title" content="FUNCODES.CLUB" />
<meta property="og:locale" content="de_DE" />
<meta name="description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<meta property="og:description" content="Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?" />
<link rel="canonical" href="https://www.metacodes.pro/funcodes/" />
<meta property="og:url" content="https://www.metacodes.pro/funcodes/" />
<meta property="og:site_name" content="METACODES.PRO" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="FUNCODES.CLUB" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebPage","description":"Do you enjoy coding for fun? Looking for useful, ready-to-use and educational source codes?","headline":"FUNCODES.CLUB","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://www.metacodes.pro/images/site-logo.png"}},"url":"https://www.metacodes.pro/funcodes/"}</script>
<!-- End Jekyll SEO tag -->


  

  <script>
    /* Cut the mustard */
    if ( 'querySelector' in document && 'addEventListener' in window ) {
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
    }
  </script>

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/skins/default.css">
  <link rel="alternate" type="application/atom+xml" title="METACODES.PRO" href="/feed.xml">
<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

</head>


  <body class="layout--category  funcodes-club">
    <nav class="skip-links">
  <h2 class="screen-reader-text">Skip links</h2>
  <ul>
    <li><a href="#primary-nav" class="screen-reader-shortcut">Skip to primary navigation</a></li>
    <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
  </ul>
</nav>

    
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">Menu</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul><li><a href="/blog/">Blog</a></li><li><a href="/news/">News</a></li><li><a href="/refcodes/">REFCODES</a></li><li><a href="/funcodes/">FUNCODES</a></li><li><a href="/manpages/">Manpages</a></li><li><a href="/archive/">Archive</a></li><li><a href="/tags/">Tags</a></li><li><a href="/downloads/">Downloads</a></li><li><a href="/search/">Search</a></li><li><a href="/about/">About</a></li></ul>
    </nav>
  </div><!-- /.navigation-wrapper -->


    <header class="masthead">

	

	

	

	<div class="wrap">
			<a href="/" class="site-logo" rel="home" title="METACODES.PRO">
				<img src="/images/funcodes-logo.png" class="site-logo-img animated fadeInDown" alt="METACODES.PRO">
			</a>
		
		
			
				<h1 class="site-title animated fadeIn"><a href="/">FUNCODES @ METACODES.PRO</a></h1>
				<p class="site-description animated fadeIn" itemprop="description">Do you enjoy coding for fun? FUNCODES.CLUB: This column is dedicated to the creative part in computing -</p>
			
		
	</div>
</header><!-- /.masthead -->


    <main id="main" class="main-content" aria-label="Content">
  <article>
    

    <div class="page-wrapper">
      <header class="page-header">
        
        
          <h1 id="page-title" class="page-title">FUNCODES.CLUB</h1>
        
      </header>
      <div class="page-content">
        


<section id="funcodes" class="taxonomy-section">
	<h2 class="taxonomy-title"></h2>
	<div class="entries-list">
		<!-- Sort by modified date -->
		
		
		
		
		
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/funcodes/using_tty2mqtt_to_bridge_between_serial_communication_and_mqtt/" rel="bookmark">Using TTY2MQTT to bridge between serial communication and MQTT
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The TTY2MQTT command line tool is a bridge between TTY (COM) serial communication and an MQTT message broker easily harnessing your IoT devices into the Cloud.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">9 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2022-05-17T21:03:00+02:00">
			Updated on May 17, 2022
		</time>
	
	<time class="entry-date dt-published" datetime="2021-01-09T09:37:00+01:00">
		January 09, 2021
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/blog/funcodes/scrolling_and_fading_video_conferencing/" rel="bookmark">Scrolling and fading video conferencing with PixGRID
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The year 2020 was the year of video conferencing and remote meetings (“corona”) … how can you ease the situation of your colleagues when the meetings are getting boring?</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">3 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2020-12-30T18:33:00+01:00">
		December 30, 2020
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/funcodes/experimenting_with_sinusoids_and_overlaying_waves/" rel="bookmark">Experimenting with sinusoids and overlaying waves
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>A small Java tool teams up with your shell’s pipes and filters to provide a curve functions experimentation box</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">4 min read</span>

      
	
	
	<time class="entry-date dt-published" datetime="2019-12-27T12:43:00+01:00">
		December 27, 2019
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/funcodes/fun_with_cellular_automatons_boulder_dash_and_the_watchdog/" rel="bookmark">Fun with cellular automatons, BoulderDash and the Watchdog!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>The WATCHDOG artifact is some demo application featuring show-cases on cellular automatons being built with the REFCODES.ORG artifacts.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">2 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2019-11-14T05:09:00+01:00">
			Updated on November 14, 2019
		</time>
	
	<time class="entry-date dt-published" datetime="2018-11-25T11:24:00+01:00">
		November 25, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
		<!-- Sort by modified date -->
		<!-- {% for entry in site.categories[page.category] %} -->
			
				
				
				
					
					
						

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      
        <a href="/funcodes/restful_jshell_restrepl_your_java_9_jshell/" rel="bookmark">Restful JShell … RestREPL your Java 9’s JShell!
</a>
      
    </h3>
    
  </header>
  
    <div class="entry-excerpt p-summary">
      
        <p>Java 9’s JShell can not only be used as a command line tool, furthermore you can use it in your own Java application. Learn on how to harness the JShell by building a restful service around it.</p>

      
    </div>
  
  
    <footer class="entry-meta">
      

<span class="read-time">7 min read</span>

      
	
	
		<time class="entry-modified dt-published" datetime="2018-05-26T21:42:00+02:00">
			Updated on May 26, 2018
		</time>
	
	<time class="entry-date dt-published" datetime="2018-05-20T22:37:00+02:00">
		May 20, 2018
	</time>
    </footer>
  
</article>

					
				
			
		
	</div>
	<a href="#page-title" class="back-to-top">Back to Top &uarr;</a>
</section>


        
      </div>
    </div>
  </article>
</main>


    <footer id="footer" class="site-footer">
  <!-- start custom footer snippets -->

<!-- end custom footer snippets -->
<div class="social-icons"><a class="social-icon" href="/feed.xml"><i class="fas fa-rss-square fa-2x" title="Feed"></i></a></div><div class="copyright">
    
      <p>&copy; 2025 METACODES.PRO. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://github.com/mmistakes/so-simple-theme" rel="nofollow">So Simple</a>.</p>
    
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/assets/js/main.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>


  </body>

</html>
